## Build results
bin/
obj/
out/

## User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

## VS Code
.vscode/

## Logs
*.log

## Secrets
appsettings.*.json
*.pfx

## Others
.DS_Store
CopilotIndices/
FileContentIndex/